<h1>Planes</h1>

<table class='table table-hover table-condensed ' id = 'planes'>
  <thead>
    <tr>
      <th>a/c type</th>
      <th>Name</th>
      <th>State</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @planes %>
  </tbody>
</table>

<%= link_to 'New Plane', new_plane_path, class: 'btn btn-primary' %>

<div class='row'>
  <div class='collapse col-md-4' >
    <hr></hr>
      <div id ='planes-form'>
      </div>
    <hr></hr>
  </div>
</div>